@model CustomerViewModel

@{
    ViewData["title"] = "Secure Checkout Page";
}
<style>
    .error-message {
        color: red;
        font-size: 0.8em;
    }
</style>

<div class="row">
    <div class="col-md-8">

        <section>
            <div class="cart-header">
                <h2>Shipping Address</h2>
            </div>
            <div class="cart-container">

                <h3>@Model.ActiveUser.Name</h3>
                <div class="cart-items pb-3">
                    <div class="cart-item">

                        <div class="row">
                            <form asp-controller="Customer" asp-action="CheckValidations" method="post">
                               
                                <input type="hidden" asp-for="@Model.ActiveUser.CustomerAddress.CustomerId" value="@Model.ActiveUser.Id" />
                                <div class="form-group">
                                    <label asp-for="@Model.ActiveUser.CustomerAddress.Name">Name:</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.Name" value="@Model.ActiveUser.Name" />

                                    <label asp-for="@Model.ActiveUser.CustomerAddress.AptNumber">Apt/Suite Number</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.AptNumber" />
                                    <label asp-for="@Model.ActiveUser.CustomerAddress.StreetAddress">Street Address</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.StreetAddress" />
                                    <label asp-for="@Model.ActiveUser.CustomerAddress.City">City</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.City" />
                                    <label asp-for="@Model.ActiveUser.CustomerAddress.Province">Province</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.Province" />
                                    <label asp-for="@Model.ActiveUser.CustomerAddress.PostalCode">PostalCode</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.PostalCode" />
                                    <label asp-for="@Model.ActiveUser.CustomerAddress.PhoneNumber">Phone Number</label>
                                    <input type="text" asp-for="@Model.ActiveUser.CustomerAddress.PhoneNumber" />
                                </div>

                                <button type="submit" class="btn btn-primary">Save Address</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <section>
            <div class="cart-header">
                <h2>Payment Information</h2>
            </div>
            <div class="cart-container">
                <div class="cart-items pb-3">
                    <div class="cart-item">

                        <div class="row">
                            <form asp-controller="" asp-action="" method="post">
                                <input type="hidden" asp-for="@Model.NewPaymentMethod.CustomerId" value="@Model.ActiveUser.Id" />

                                <label asp-for="@Model.NewPaymentMethod.PaymentType">Payment Type:</label>
                                <select class="form-select" asp-for="@Model.NewPaymentMethod.PaymentType">
                                    <option value="CreditCard">Credit Card</option>
                                    <option value="DebitCard">Debit Card</option>
                                    <option value="PayPal">PayPal</option>
                                </select>
                                <label asp-for="@Model.NewPaymentMethod.CardNumber">Card Number:</label>
                                <input type="text" asp-for="@Model.NewPaymentMethod.CardNumber" />
                                <label asp-for="@Model.NewPaymentMethod.CardExpiry">Expiry Date:</label>
                                <input type="text" asp-for="@Model.NewPaymentMethod.CardExpiry" />
                                <label asp-for="@Model.NewPaymentMethod.CardCvv">CVV:</label>
                                <input type="text" asp-for="@Model.NewPaymentMethod.CardCvv" />
                                <label asp-for="@Model.NewPaymentMethod.NameOnCard">Card Holder Name:</label>
                                <input type="text" asp-for="@Model.NewPaymentMethod.NameOnCard" />

                                <button type="submit" class="btn btn-primary">Save Payment</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            @* <div class="cart-header">
            <h2>Order Summary</h2>
            </div>
            <div class="cart-container">
            <div class="cart-items pb-3">
            <div class="cart-item">
            <div class="row">
            <div class="col-md-6">
            <h4>Items</h4>
            <ul>
            @foreach (var item in Model.cartList)
            {
            <li>@item.ChefRecipe.RecipeName</li>
            }
            </ul>
            </div>
            <div class="col-md-6">
            <h4>Total:</h4>
            <span>$ @Model.cartList.Sum(x => x.RecipeTotal)</span>
            </div>
            <a asp-controller="Customer" asp-action="PlaceCustomerOrderAndNotifyChef" class="btn btn-primary">Place Order</a>
            </div>
            </div>
            </div>
            </div>
            </section>


            </div>



            </div> *@
