@model CustomerViewModel

@{
    ViewData["title"] = "Cart";

}
<h2>Cart Items: @Model.cartList.Count</h2>
<div class="row">
    @foreach (var item in Model.cartList)
    {
        <div class="col-md-4">
            <!-- Card -->
            <div class="card-home">
                <!-- Card image -->
                <img style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.ChefRecipe.RecipeImage))" class="card-img-top" alt="@item.ChefRecipe.RecipeName">
                <!-- Card body -->
                <div class="card-body">
                    <h5 class="card-title">@item.ChefRecipe.RecipeName</h5>
                    <p class="card-text">@item.ChefRecipe.RecipeDescription</p>
                    <form asp-controller="Customer" asp-action="UpdateCartPage" method="post">
                        <div class="form-group">
                            <label asp-for="@item.TimeSlotId">Time Slot:</label>
                            <select class="form-select" asp-for="@item.TimeSlotId">
                                @foreach (var ts in Model.TimeSlots)
                                {
                                    <option value="@ts.TimeSlotsId">
                                        @ts.TimeSlot
                                    </option>
                                }
                            </select>

                        </div>
                        <div class="form-group">
                            <label asp-for="@item.GuestQuantity">Guest Quantity:</label>
                            <input type="number" class="form-control" asp-for="@item.GuestQuantity" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@item.RecipeTotal">Price:</label>
                            <input type="number" class="form-control" asp-for="@item.RecipeTotal" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="margin-top:10px">Save</button>
                        </div>
                    </form>
                    <a class="btn btn-danger" asp-controller="Customer" asp-action="RemoveItemFromCart" asp-route-id="@item.UserCartItemId" asp-route-username="@Model.ActiveUser.UserName">Remove Item</a>
                </div>
            </div>
        </div>
    }
</div>

