@model CustomerViewModel
@{
    ViewData["title"] = "Manage Payments Page";
}
<div class="row">
    <div class="col-md-2">
        <a asp-controller="Customer" asp-action="GetAddPaymentMethodPage" asp-route-username="@Model.ActiveUser.UserName" asp-route-returnurl="managepayment" class="btn btn-primary">Add a new Payment Method</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-controller="Customer" asp-action="GetCustomerHome" asp-route-username="@Model.ActiveUser.UserName">Go Back</a>
    </div>
</div>


@if (Model.PaymentMethodsList.Count <= 0)
{
    <div>
        <h2>
            No Payment Methods Available
        </h2>
    </div>
}
else
{
    @foreach (var pay in Model.PaymentMethodsList)
    {

        <div class="col-md-4">
            <!-- Card -->
            <div class="card-home">
                <!-- Card image -->
                <!-- Card body -->
                <div class="card-body">
                    <h5 class="card-title">Name on Card: @pay.NameOnCard</h5>
                    <p class="card-text">Payment Type: @pay.PaymentType </p>
                    <p class="card-text">Card Number: @pay.CardNumber</p>
                    <p class="card-text">Card Expiry: @pay.CardExpiry.ToString("MM/yy")</p>
                    <p class="card-text">CVV: @pay.CardCvv</p>





                </div>
            </div>
        </div>
    }
}
