@model CustomerViewModel

@{
    ViewData["title"] = "Cart";

}


<div class="row">
    <div class="col-md-8">
        <h2>Cart Items: @Model.cartList.Count</h2>
        @foreach (var item in Model.cartList)
        {
            <div class="cart-header">
                <h2>Recipe: @item.ChefRecipe.RecipeName</h2>
            </div>
            <div class="cart-container">


                <div class="cart-items pb-3">
                    <div class="cart-item">

                        <div class="row">
                            <div class="cart-item-details pl-3 col-md-8">
                                <form asp-controller="Customer" asp-action="UpdateCartPage" method="post">
                                    <input type="hidden" name="itemId" value="@item.UserCartItemId" />


                                    <div class="form-group">
                                        <p>Price: $@item.ChefRecipe.Price</p>


                                        <label class="pb-3" for="timeSlot" asp-for="@item.TimeSlotId">Select TimeSlot:</label>
                                        <select class="form-select" id="timeSlot" name="timeSlotId" asp-for="@item.TimeSlotId">
                                            @foreach (var ts in Model.TimeSlots)
                                            {
                                                <option value="@ts.TimeSlotsId">
                                                    @ts.TimeSlot
                                                </option>
                                            }
                                        </select>

                                        <label class="pb-3" for="GuestQuantity" asp-for="@item.GuestQuantity">Extra Person:</label>
                                        <input class="form-control" asp-for="@item.GuestQuantity" id="GuestQuantity" name="GuestQuantity" />


                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <a asp-controller="Customer" asp-action="RemoveItemFromCart" class="btn btn-danger" asp-route-id="@item.UserCartItemId">Remove</a>
                                    </div>
                                </form>




                            </div>
                            <div class="cart-img col-md-3">
                                <img src="data:image/*;base64,@(Convert.ToBase64String(item.ChefRecipe.RecipeImage))" style="width:250px;height:250px;" alt="@item.ChefRecipe.RecipeName">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }
    </div>
    <div class="col-md-3">
        <h1>Checkout Summary</h1>


        <div class="card">
            <div class="card-header">
                <h2>Cart Summary</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <label>Tax(13% Tax) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<span class=""></span></label>
                    <label>Sub Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<span class="">@Model.cartList.Sum(x => x.RecipeTotal)</span></label>
                    <a asp-controller="Customer" asp-action="GetSecureCheckoutPage" asp-route-username="@Model.ActiveUser.UserName" class="btn btn-primary">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
