@model PaymentViewModel
@{
    ViewData["title"] = "Add Payment Method";
}

<section>
    <div class="cart-header">
        <h2>Payment Information</h2>
    </div>
    <div class="cart-container">
        <div class="cart-items pb-3">
            <div class="cart-item">

                <div class="row">
                    <form asp-controller="Customer" asp-action="AddCustomerPaymentMethod" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="@Model.PaymentType">Payment Type:</label>
                            <select class="form-select" asp-for="@Model.PaymentType">
                                <option value="" default></option>
                                <option value="CreditCard">Credit Card</option>
                                <option value="DebitCard">Debit Card</option>
                            </select>
                            <span asp-validation-for="@Model.PaymentType"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CardNumber">Card Number:</label>
                            <input type="text" asp-for="@Model.CardNumber" />
                            <span asp-validation-for="@Model.CardNumber"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CardExpiry">Expiry Date:</label>
                            <input type="text" asp-for="@Model.CardExpiry" />
                            <span asp-validation-for="@Model.CardExpiry"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CardCvv">CVV:</label>
                            <input type="text" asp-for="@Model.CardCvv" />
                            <span asp-validation-for="@Model.CardCvv"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.NameOnCard">Card Holder Name:</label>
                            <input type="text" asp-for="@Model.NameOnCard" />
                            <span asp-validation-for="@Model.NameOnCard"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save Payment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>