@*@model AppUser
@{
    ViewData["title"] = "Reset-Password";
}

<h2>Forgot Password</h2>

<form method="post" asp-action="" asp-controller="" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="@Model.NewRecipe.RecipeName">Recipe Name:</label>
        <input type="" asp-for="@Model.NewRecipe.RecipeName" class="form-control" />
        <span asp-validation-for="@Model.NewRecipe.RecipeName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewRecipe.RecipeDescription">Recipe Description:</label>
        <input asp-for="@Model.NewRecipe.RecipeDescription" class="form-control" />
        <span asp-validation-for="@Model.NewRecipe.RecipeDescription" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin-top:10px">Send</button>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <a asp-controller="Home" asp-action="Login" class="btn btn-primary" style="margin-top:10px">GO Back</a>
            </div>
        </div>
    </div>
</form>*@
